
.userCard{
   height: 300px;
   width: 400px;
   background-color: aqua;
   margin: 1rem;
   border: 5px solid #1C6EA4;
   border-radius: 22px 25px 0px 0px;
}

img{
   border-radius: 17px 00px 0px 00px
}

.userName{
   text-align: center;
   color: blue;
   font-size: 1rem;
}

h1{
   font-family: 'Nerko One', cursive;
}

main{
   background-color: cadetblue;
}